[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-Cors = "*"
Flask-HTTPAuth = "*"
bcrypt = "*"
Flask-Auth = "*"
pymongo = "*"
pyjwt = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.6"
